<main class="main-content inner-page lk-about">
    <!-- Title and Bredcrumb Block -->
    <div class="title-block  m-t-30 m-b-30">
      <div class="container">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-primary-color" aria-current="page">About Us</li>
                </ol>
            </nav>
      </div>
    </div>
    <!-- Title and Bredcrumb Block -->
    <!-- About Content Area -->
    <div class="lk-about-content">
        <div class="container">
            <div class="about-intro m-t-30 m-b-30">
                <div class="row">
                    <div class="col-md-5">
                        <div class="image-box common-image-box">
                            <img class="img-fluid" src="/frontend/images/about-intro.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 offset-1">
                        <div class="desc-box">
                            <h2 class="m-0 font-50 font-semibold m-b-20">
                                About Us
                            </h2>
                            <h6 class="m-0 font-14 font-semibold text-uppercase m-b-40">
                                <span class="text-primary-color">PROFESSIONAL & </span> EXPERIENCED
                            </h6>
                            <p class="m-0 m-b-30 font-16">
                                LegalKart is India’s first Business-to-Business legal support and service technology platform
                                using Big Data and Analytics to create customised and detailed system for your organisation
                                with the array of lawyers and public policy professionals who are revolutionising the
                                approach to deal with complex legal issues in the most efficient way.
                            </p>
                            <p class="m-0 m-b-30 font-16">
                                Whether you are a start-up or a corporate, we can help you navigate through the complex
                                legal &amp; policy environment with our advanced ‘Legal Central’ a unique legal dashboard
                                customised to suit your company’s needs.</p>
                            <p class="m-0 m-b-30 font-16">
                                We have highly customizable offerings for our client’s, whether it is legal, public policy or
                                both.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-content">
                <div class="image-box common-image-box m-b-60">
                    <img class="img-fluid" src="/frontend/images/about-legal.jpg" alt="">
                </div>
                {{!-- <h3 class="font-40 font-semibold m-0 m-b-30">
                    Do you know when you need a legal advice?
                </h3>
                <p class="m-0 m-b-30 font-16">
                    LegalKart is a mission to connect & change things by making legal & financial advisory affordable, simple and available to
                    more people than ever before. We are confident that with your help we will be able to build a technology
                    that millions of people & businesses will rely upon.
                </p>
                <p class="m-0 m-b-30 font-16">
                    If you are a start-up, corporate, small business or an individual LegalKart is your gateway to the legal& policy system of
                    this country. It empowers you to understand& evaluate your legal requirements in any matter with the
                    help of experts & lawyer advice.
                </p>
                <p class="m-0 m-b-30 font-16">
                    Our commitment to affordable and accessible legal services is at the heart of everything we do and Technology made it possible.
                </p>
                <p class="m-0 m-b-30 font-16">
                    LegalKart is not a legal service provider nor it’s a Law firm; it is an online aggregator of legal service providers.LegalKartconnects
                    a legal service provider to its potential client. We do not solicit nor participate in any legal representation.
                    All the listed professionals are independent and provide professional services to their clients.
                </p>
                <h3 class="font-40 font-semibold m-0 m-b-40">
                    Transparent Pricing and Trustworthy
                </h3>
                <p class="m-0 m-b-30 font-16">
                    We know that when its about legal, trust, cost and transparency are the key factors always at the top of your mind. It is
                    interesting to note that LegalKart will help you reduce your legal costs significantly and save a lot
                    of time because technology will improve your decision making and reduces the Hessle of choosing appropriate
                    lawyer or professionals for your matter. LegalKart will also increases the chance of a successful closure
                    of your legal matter because it will behandled by best lawyers and professionals in the country chosen
                    meticulously based on their experience and domain expertise. Trust is the cornerstone in legal matters
                    and we at LegalKart promise complete confidentiality in handling your matter.
                </p> --}}
                <p class="m-0 m-b-30 font-16">
                    LegalKart can cost-effectively and quickly scale up and down to better absorb the impact of
                    any potential issue that might be faced by your company. Linking our professionals,
                    processes and technology we utilize data from every interaction to expose gaps and bring in
                    transparency to achieve best results and continuously improvise processes to optimise time
                    &amp; monitory savings.
                </p>
                <p class="m-0 m-b-30 font-16">
                    Our cutting edge technology is used by thousands of legal &amp; public policy professionals
                    across the country so that you can be rest assured about the shared wisdom &amp;
                    knowledgeable specialists assisting you with your issues as and when they arise. Our flexible
                    solutions allow you to consolidate and optimize your in-house legal operations and elevate
                    your support experiences to differentiate your brand.
                </p>
                <p class="m-0 m-b-30 font-16">
                    Let us help you optimise your legal &amp; policy issues and see that impact on company’s
                    bottom line.
                </p>
                <!-- About FAQs -->
                

                <!--... About FAQs -->
            </div>
        </div>

    </div>
    <!--... About Content Area -->
</main>