<main class="main-content inner-page lk-about">
     <!-- Title and Bredcrumb Block -->
    <div class="title-block  m-t-30 m-b-30">
      <div class="container">
             <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-primary-color" aria-current="page">In Media</li>
                </ol>
            </nav>
      </div>
    </div>
    <!-- Title and Bredcrumb Block -->
    <!-- In Media Content Area -->
    <div class="lk-in-media-content">
        <div class="container">
            <div class="media-info m-t-30 m-b-30">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>LegalKart <span>In Media</span></h2>
                            <h3><span>PROFESSIONAL &</span> EXPERIENCED</h3>
                        </div>
                        <div class="lk-media-panel m-t-140">
                            <div class="row">
                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->

                                <!-- tile -->
                                <div class="col-md-6 col-12">
                                    <div class="media-tile">
                                        <div class="hexagon">
                                            <img src="/frontend/images/media-1.png" alt="">
                                        </div>
                                        <h2 class="m-0 font-24 m-t-30 m-b-30 font-semibold">
                                            Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's
                                            Rights and Autonomy
                                        </h2>
                                        <p class="m-0 m-b-30 m-t-40 font-20">An agitated country took to the streets to
                                            protest against Nirbhaya gangrape.</p>
                                        <span class="font-11 font-semibold m-t-30 m-b-30"><i class="fa fa-calendar"></i>MAY
                                            26, 2017</span>
                                        <button type="button" class="btn btn-primary btn-lg clearfix btn-primary-color border-radius-0 border-0 ">
                                            Read More
                                        </button>
                                    </div>
                                </div>
                                <!-- tile -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--... In Media Content Area -->
</main>