<main class="main-content inner-page lk-about">
    <!-- Title and Bredcrumb Block -->
    <div class="title-block  m-t-30 m-b-30">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item text-primary-color" aria-current="page">Why Choose Us</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Title and Bredcrumb Block -->
    <!-- Why Choose Us Content Area -->
    <div class="lk-why-choose-content">
        <div class="container">
            <div class="why-choose-top m-t-30 m-b-30">
                <!-- Part1 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/judge.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">Leading Lawyers</h3>
                                <p class="m-0 font-16">Choose a leading lawyer with a reputation for superior client
                                    service.</p>
                                <p class="m-0 m-b-30 font-16">We use extensive online & offline surveys to identify
                                    prominent practitioners known for giving unprecedented results for our clients. Our
                                    1,000 plus lawyers across the country excel at providing services in more than 24
                                    practice areas. We partner with leading lawyers based on their work and reputation
                                    to practice law with integrity, ingenuity, agility and ambition.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Part2 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/countrywide-presence.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">Countrywide Presence</h3>
                                <p class="m-0 font-16">We work closely with a national network of local lawyers to
                                    coordinate litigation across more than 500 districts, enabling our clients to get
                                    quick information about their case status pending in any part of the country.</p>
                                <p class="m-0 m-b-30 font-16">This countrywide capacity allows us to identify the best
                                    legal professionals and to update our clients about their cases and address their
                                    grievances in a time-efficient manner.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Part2 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/end-to-end.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">END To END Solutions</h3>
                                <p class="m-0 font-16">We cover every stage of the legal service availed by our
                                    clients. We embrace a philosophy that eliminates the need for any intermediary,
                                    optimizing performance and efficiency throughout the entire process which greatly
                                    reduces hassle, costs, resources and time.</p>
                                <p class="m-0 m-b-30 font-16">Whether you want to file a case or execute a contract,
                                    LegalKart provides you a complete mechanism to keep pace with ever-changing demands
                                    and business needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Part3 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/365-Days.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">365 Days Available</h3>
                                <p class="m-0 font-16">Finding a solution to your problem is very important to us. We
                                    will process your inquiry to our specialists and will be in contact with you as
                                    soon as possible. We believe in maintaining the functionality and reliability of
                                    our services at the highest levels, to minimize delivery time and to keep operating
                                    costs low.</p>
                                <p class="m-0 m-b-30 font-16">In case of an emergency, you can count on around the
                                    clock assistance. Our highly qualified service staff and lawyers are at your
                                    disposal 7 days a week via our Free Legal Helpline, to find a solution for you as
                                    quickly as possible. Whether you need legal assistance or have a question, just
                                    give us a call 365 days a year.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Part4 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/savings.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">Cost Saving</h3>
                                <p class="m-0 font-16">Our emphasis is on making legal services “affordable.” A lot of
                                    times, legal services, whether it is in the areas of criminal law or family law, is
                                    too expensive.</p>
                                <p class="m-0 m-b-30 font-16">We believe that our clients deserve quality
                                    representation at an affordable cost. Therefore, at LegalKart we have adopted a
                                    number of practices to provide our clients with flexible fee structures, limited
                                    retainers and reduced fees for income-qualifying clients. Additionally, every
                                    client is entitled to a free legal advice, no strings attached.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Part5 -->
                <div class="why-box m-b-20">
                    <div class="row">
                        <div class="col-md-2 col-12">
                            <div class="icon-pentagon">
                                <img src="/frontend/images/MSME-friendly.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-10 col-12">
                            <div class="content">
                                <h3 class="m-0 font-24 font-semibold m-b-10">MSME Friendly</h3>
                                <p class="m-0 font-16">We understand that access to good quality and affordable legal
                                    services helps small businesses to start up and grow.</p>
                                <p class="m-0 m-b-30 font-16">At LegalKart we try to identify the business needs of our
                                    clients and then provide the legal solution or agreements to match the business
                                    need. Therefore, we offer customised packages for small businesses to have access
                                    to appropriate and affordable legal services and advice.</p>
                                <p class="m-0 m-b-30 font-16">Our work with emerging companies often begins prior to
                                    company formation and progresses through the full evolution of a startup's life. We
                                    pay great attention to matching your requirements with the right skills and cost
                                    within the appropriate timescale</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--... Why Choose Us Content Area -->
</main>