
<!-- Starts represent Section -->

{{!-- <div class="represent-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-12">
                <div class="middle-panel">
                    <h2>Got what are looking for ?</h2>
                    <h6>Call Legal Helpline Now- <i class="fa fa-phone-square"></i> 8448-8448-50-49</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12">
                <div class="right-panel pull-right">
                    <a href="javascript:void(0);" id="bookCallBtn">Book A Call Back
                        <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div> --}}

<!-- Ends represent Section -->
<!-- Starts Footer Section -->

<footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p>&copy; {{year}}
                        <span class="white">Legalkart.com</span>
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/frontend/images/logo.png" alt="logo">
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Ends Footer Section -->

<!-- Starts Scroll Up -->

<a href="#" class="scrollup"><i class="fa fa-balance-scale"></i></a>

<!-- Ends Scroll Up -->