<main class="main-content inner-page lk-about">


    <!-- Login / Sign Up Content Area -->
    <div class="lk-in-login-content">
        <div class="container">
            <div class="login-info m-t-40 m-b-70">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2>Forgot
                                <span>Your Password</span>
                            </h2>
                            <h3>
                                <span>ALL THE LEGAL HELP YOU NEED. ANYTIME. ANYWHERE
                                </span>SEE EVERYTHING WE CAN HELP YOU WITH</h3>
                            {{#if err_password_mcaptcha}}
                            <div class="alert alert-danger">
                                <strong>Error! </strong>{{err_password_mcaptcha}}
                            </div>
                            {{/if}} {{#if success_password_message}}
                            <div class="alert alert-success">
                                <strong>Success! </strong>{{success_password_message}}
                            </div>
                            {{/if}}
                            {{#if success_signup_lawyers}}
                            <div class="alert alert-success">
                                <strong>Success! </strong>{{success_signup_lawyers}}
                            </div>
                            {{/if}}
                        </div>
                        <div class="lk-login-panel m-t-50">
                            <div class="panel panel-login">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#" class="active" id="login-form-link">Forgot Passsword</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="forgot-password-form" method="post" action="/forgot-password" role="form" style="display: block;">
                                                <div class="form-group">
                                                    <input type="text" name="email" id="username" tabindex="1" class="form-control" placeholder="Email" value="">
                                                </div>
                                                <div class="form-group">
                                                    <div class="g-recaptcha" data-sitekey="6LfvuYwUAAAAAL0GJW9gvYNOkZ8bNdVQAUMQGTNW"></div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="btn btn-login" value="Submit">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--... Login / Sign Up Content Area -->
</main>
{{#content "script" mode="append"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/additional-methods.min.js"></script>

<script>
    $(document).ready(function () {
        $("#forgot-password-form").validate({
            rules: {
                email: {
                    required: true,
                    email:true
                }
            },
            messages: {
                email: {
                    required: "Please enter your email Id"
                }
            }
        });

        $(".alert").fadeTo(4000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });
    });

</script>
{{/content}}